<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zechassault.cimi.imagemap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zechassault.cimi.imagemap.MainActivity" >
        </activity>
        <activity android:name="com.zechassault.cimi.imagemap.AnatomyActivity" >
        </activity>
        <activity android:name=".operation.OperationActivity" />

      <activity android:name=".europe.EuropeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>